<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 50%;
    height: 2.8rem;
    width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center  ;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
    border-radius: 50%;
    height: 2.8rem;
    width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center  ;
  }
  .btn-search i{
    font-size: 25px;
   
  }

  #search-input{
    border-radius: 100px;
    text-align: center;
  }

  .navbar-brand img{
    margin-top: 7px;
  height: 2rem;
  width: 6.2rem;
  filter: contrast(2);
  }

  .d-flex{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.073);
    border-radius: 100px;
  }
 
</style>

<!-- <i class="fa-regular fa-compass"></i> -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="navbar-brand" href="/listings"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/2560px-Airbnb_Logo_B%C3%A9lo.svg.png" alt=""></a>
        </div>

        <div class="navbar-nav ms-auto">
          
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Destination" id="search-input">
            <button class="btn btn-search" type="submit"><i class="fa-brands fa-searchengin"></i></button>
          </form>
    
  
        </div>



        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb Your home</a>
          <% if(!currUser) { %>
          <a class="nav-link "  href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
          <% if(currUser) { %>
          <a class="nav-link" href="/logout">Log out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>