body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.airbnb-footer {
    background-color: #f7f7f7;
    padding-top: 30px;
    color: #333;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 8px;
}

.footer-column a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #ff5a5f;
}

.footer-bottom {
    background-color: #e0e0e0;
    padding: 10px 0;
    text-align: center;
    color: black;
}

.footer-bottom p{
    margin-top: 13px;
}
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin: 0;
        margin-bottom: 20px;
    }
}
