.filter-main{
    display: flex;
width: 100%;
flex-direction: row;
align-items: center;
  }
  .filters{
    display: flex;
width: 100%;
overflow-x: scroll;
align-items: center;
height: 90px;
margin-top: 5px;
  }
  .filter{
    text-align: center;
margin-right: 0rem;
margin-top: 1rem;
opacity: 0.6;
transition: 150ms ease-in-out all;
  }
  .filter p{
    margin-right: 50px;
    white-space: nowrap;
    font-weight: 800;
   font-size: 0.8rem;
     color: black;
  }
  .filter:hover{
    opacity: 1;
  }


   .filter  img{
    width: 25px;
height: 25px;
   }
  .tax-toggle{
    border: 1px solid black;
    height: 3.2rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 19rem;
  }
  .tax_info{
    display: none;
  }


  .About{
    display: flex;
   align-items: center;
justify-content: center;
border: 1px solid black;
height: 3.1rem;
border-radius: 1rem;
padding: 25px 20px;
margin-left: 53px;
      
  }

  .About a{
    text-decoration: none;
list-style: none;
margin-left: 6px;
font-size: 1.2rem;
color: black;
margin-right: 31px;
font-weight: bold;
    
  }
.About img{
  height: 43px;
  width: 46px;
  border-radius: 100%;
  opacity: 0.8;
}

.filter-icon{
  border: 1px solid black;
    height: 3.2rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 9rem;
}

.filter-icon svg{
  height: 20px;
width: 25px;
color: black;
}

.filter-icon p{
  margin-top: 17px;
margin-left: 5px;
}


.filter img{
  width: 25px;
   height: 25px;
  margin-right: 50px;
}

/* ///cards */


#cards{
box-shadow: 0px 3px 8px black !important;
border-radius: 22px;
overflow: hidden !important;

}

.card-img-topp{
width: 100% !important;
height: 20rem !important;
object-fit: cover !important;
transition: .5s ease-out 0s;
}
.card-img-topp:hover{
transform: scale(1.125) !important;
transition: .5s ease-in-out 0s;
filter: contrast(1.10);
opacity: 1;
cursor: pointer;
}



@media (max-width : 730px){
  .tax-toggle{
    display: none;
  }

  .filter-icon{
    width: 51px;
  border-radius: 52%;
  }

.filter-icon p{
  display: none;
}

} 

